@model Blog.Web.Models.ViewModels.AddTagRequestViewModel


<form method="post">
    <div class="form-group">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="name" asp-for="Name" />
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button asp-action="Add" asp-controller="AdminTags" type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
</form>
