@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: 14px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        height: 6px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.15);
        box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}


body {
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    position: relative;

    .test-class {
        margin-top: 20em;
        width: 200px !important;
        height: 300px;
        background-color: rgb(37 28 144) !important;
    }

    .btn-close {
        --bs-btn-close-color: white;
        --bs-btn-close-bg: url(~/lib/bootstrap-icons/icons/x-lg.svg);
    }

    .bg-primary {
        background-color: rgba(37 28 144) !important;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none !important;
    }

    .navbar {
        background-color: rgba(31 17 199);
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        width: 16rem;
        padding: 1.8rem 0.85rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        transition: width 0.5s ease-in-out;

        .container, .sidebar-top {
            position: relative;

            .sidebar-top {
                position: relative;
                display: flex;
                align-items: center;
            }

            .sidebar-top h3 {
                padding-left: 0.5rem;
                font-weight: 600;
                font-size: 1.15rem;
            }


            .nav-btn {
                position: absolute;
                height: 27px;
                padding: 0 0.3rem;
                background-color: rgba(31 17 199);
                border-radius: 6px;
                cursor: pointer;
                box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
                right: -2.5rem;
                transform: translateY(-50%) translateX(-8px);
                opacity: 0;
                pointer-events: none;
                transition: 0.3s;
            }

            .nav-btn i {
                transition: 0.3s;
                vertical-align: -0.09em !important;
            }

            .nav-btn:hover {
                background-color: rgba(31 17 199);
            }

            nav:hover, .nav-btn,
            .nav-btn.hovered {
                transform: translateY(-50%) translateX(0px);
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    nav::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 100%;
        top: 0;
        left: 100%;
    }


    .scroll-bar {
        height: 400px;
        overflow-y: scroll;
        @include scrollbar();
    }
}
